[Desktop Entry]
Version=1.0
Type=Link
Name=Quake 3 Source Code Review: Network Model
Comment=
Icon=user-bookmarks
URL=http://fabiensanglard.net/quake3/network.php
