[Desktop Entry]
Version=1.0
Type=Link
Name=World Internet Users Statistics - March, 2019
Comment=
Icon=user-bookmarks
URL=https://www.internetworldstats.com/stats.htm
